html, body {
    height: 100%;
    margin: 0;
}

div.first {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: absolute;
    top: 35%;
    left: 45%;
    pointer-events: none;
}

div.second {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    position: inherit;
    top: 13%;
    left: 13%;
    pointer-events: none;
}

div.third {
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
    position: inherit;
    top: 17%;
    left: 16%;
    pointer-events: none;
}

div.fourth {
    width: 50px;
    height: 50px;
    background-color: deeppink;
    position: inherit;
    top: 25%;
    left: 25%;
    pointer-events: auto;
}

div.first:hover .fourth {
    background-color: greenyellow;
}

div.first:hover .third {
    background-color: gold;
}

div.first:hover .second {
    background-color: blueviolet;
}

div.first:hover {
    background-color: lightsteelblue;
}