# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\facultate\fp\a10-octaviaah\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
