div.object{
    top: 0;
    left: 0;
    position: absolute;
    background: blue;
    width: 100px;
    height: 100px;
    transition: background-color 15s, top 15s, left 15s;
}

div.object:hover{
    top: 85%;
    left: 93%;
    background: red;

}