html, body{
    height:100%;
    margin:0;
}

div.topline{
    height:2px;
    width:100px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    top:40%;
    left:45%;
    position:absolute;
}

div.leftline{
    height:100px;
    width:2px;
    background: linear-gradient(rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    top:40%;
    left:45%;
    position:absolute;
}

div.rightline{
    height:100px;
    width:2px;
    background: linear-gradient(rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    top:40%;
    left:51.5%;
    position:absolute;
}

div.bottomline{
    height:2px;
    width:100px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    top:53%;
    left:45%;
    position:absolute;
}