html, body{
    height:100%;
    margin: 0;
}
div {
    height: 50%;
}

div.red-gradient {
    background:linear-gradient(red, rgba(0, 0, 0, 0));
}

div.blue-gradient {
    background:linear-gradient(rgba(0, 0, 0, 0), blue);
}